<template name="right">
{{#if currentUserLoaded}}
  {{> chat}}
{{/if}}
</template>

<template name="chat-error">
</template>

<template name="chat">
<div class="row-fluid">
  <div class="span12">
    {{#if chatError}}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button> 
        {{chatError}}
      </div>
    {{/if}}

    {{> rooms}}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <input type="text" id="chat-message" placeholder="Your Message" />
  </div>
</div>
<div class="well">
{{#if currentRoom}}
  {{#each messages}}
    <div class="row-fluid">
      <div class="span4">
        <strong>{{name}}</strong>
      </div>
      <div class="span8">
        {{message}}
      </div>
    </div>
  {{/each}}
{{/if}}
</div>
</template>

<template name="rooms">
<div class="row-fluid">
  <div class="span4">
    Rooms <button class="chat-add-room btn btn-mini">Add</button>
  </div>
  <div class="span8">
    <select class="chat-room">
      <option></option>
      {{#each rooms}}
        <option>{{name}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    Current room:
  </div>
  <div class="span8">
    {{#if currentRoom}}
      {{currentRoom}}
    {{/if}}
    <button class="chat-remove-room btn btn-mini">Delete</button>
  </div>
</div>
</template>
